@font-face {
    font-family: Inter;
    src: url('../../assets/fonts/Inter/Inter-VariableFont_opsz_wght.woff2') format('woff2'),
    url('../../assets/fonts/Inter/Inter-VariableFont_opsz_wght.woff') format('woff'),
    url('../../assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Barlow;
    src: url('../../assets/fonts/Barlow/Barlow-Regular.woff2') format('woff2'),
    url('../../assets/fonts/Barlow/Barlow-Regular.woff') format('woff'),
    url('../../assets/fonts/Barlow/Barlow-Regular.ttf') format('truetype-variations');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url('../../assets/fonts/Roboto/Roboto-VariableFont_wdth_wght.woff2') format('woff2'),
    url('../../assets/fonts/Roboto/Roboto-VariableFont_wdth_wght.woff') format('woff'),
    url('../../assets/fonts/Roboto/Roboto-VariableFont_wdth_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  background: rgba(13, 13, 13, 1);
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.scroll-container {
    margin-top: 60px;
    overflow-y: auto;
    height: 100%;
    display: flex; /* Updated to modern Flexbox */
    flex-direction: row; /* Equivalent to box-orient: horizontal for modern Flexbox */
    /* -webkit-box-orient and similar are no longer needed */
}

.content {
  /* padding: 36px 64px 0 60px; */
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(51, 51, 51, 1);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(141, 144, 148, 1);
}
