@use '../../../app/styles/global/variables.scss' as *;

.button {
  border-radius: 2px;
  padding: 6px 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: color($light, 100);
  box-sizing: border-box;
  outline: none;
}

//primary contained

.primary {
  background-color: color($primary, 500);
}

.contained {
  background-color: color($primary, 500);
}

.button.primary:active {
  background-color: color($primary, 700);
  color: color($light, 500);
}

.button.primary:hover {
  background-color: color($primary, 100);
}

.button.primary:focus-visible {
  box-shadow: 0 0 0 2px color($primary, 700);
  background-color: color($primary, 500);
}

.button.primary.disabled {
  background-color: color($primary, 900);
  color: color($light, 900);
}

//secondary contained
.secondary {
  background-color: color($dark, 300);
}

.button.secondary:active {
  background-color: color($dark, 700);
}

.button.secondary:hover {
  background-color: color($dark, 100);
}

.button.secondary:focus-visible {
  box-shadow: 0 0 0 2px color($primary,  300);
}

.button.secondary.disabled {
  background-color: color($primary, 500);
  color: color($light, 900);
}


//outlined, text
.outlined {
  box-shadow: 0 0 0 1px color($primary,  500);
}

.outlined, .text {
  color: color($primary, 500);
}

.outlined:active,
.text:active {
  color: color($primary, 700);

}

.outlined:hover,
.text:hover {
  color: color($primary, 100);
}

.outlined:focus-visible,
.outlined:active,
.text:focus-visible {
  box-shadow: 0 0 0 2px color($primary, 700);
}

.outlined.disabled,
.text.disabled {
  color: color($primary, 900);
}

.outlined:hover {
  box-shadow: 0 0 0 1px color($primary, 100);
}

.outlined.disabled {
  box-shadow: 0 0 0 1px color($primary, 900);
}



