@use '../../../app/styles/global/variables.scss' as *;
@use '../../../app/styles/global/typography.scss' as *;

.button {
  @include fontStyle($weight: 600, $color: color($light, 100));
  border-radius: 2px;
  padding: 6px 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  outline: none;

  &.disabled {
    cursor: not-allowed;
  }
}

//primary contained

.contained {
  background-color: color($primary, 500);

  &.disabled {
    color: color($light, 900);
  }
}

.primary {

  &:active {
    background-color: color($primary, 700);
    color: color($light, 500);
  }

  &:hover {
    background-color: color($primary, 100);
  }

  &:focus-visible {
    outline: 2px solid color($primary, 700);
    background-color: color($primary, 500);
  }

  &.disabled {
    background-color: color($primary, 900);
  }
}

.secondary {
  background-color: color($dark, 300);

  &:active {
    background-color: color($dark, 700);
  }

  &:hover {
    background-color: color($dark, 100);
  }

  &:focus-visible {
    outline: 2px solid color($primary, 300);
       }

  &.disabled {
    background-color: color($dark, 500);
  }
}

//outlined, text
.outlined {
  outline: 1px solid color($primary, 500);

  &:active {
    outline: 1px solid color($primary, 700);
  }

  &:hover {
    outline: 1px solid color($primary, 100);
  }

  &.disabled {
    outline: 1px solid color($primary, 900);
  }
}

.outlined, .text {
  color: color($primary, 500);
}

.outlined:active,
.text:active {
  color: color($primary, 700);

}

.outlined:hover,
.text:hover {
  color: color($primary, 100);
}

.outlined:focus-visible,
.text:focus-visible {
  outline: 2px solid color($primary, 700);
}

.outlined.disabled,
.text.disabled {
  color: color($primary, 900);
}




