@use './variables.scss' as *;

@mixin fontStyle($font-family: Inter,$size:16px,$weight: 400, $color: color($dark, 900), $line-height:150%,$style: normal) {
  font-family: $font-family;
  color: $color;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  font-style: $style
}