$primary: (
        100: #73A5FF,
        300: #4C8DFF,
        500: #397DF6,
        700: #2F68CC,
        900: #234E99
);

$dark: (
        100: #4c4c4c,
        300: #333,
        500: #171717,
        700: #0d0d0d,
        900: #000
);
$success: (
        100: #80FFBF,
        300: #22e584,
        500: #14cc70,
        700: #0f9954,
        900: #0a6638
);
$danger: (
        100: #ff8099,
        300: #f23d61,
        500: #cc1439,
        700: #990f2b,
        900: #660a1d
);
$warning: (
        100: #ffd073,
        300: #e5ac39,
        500: #d99000,
        700: #960,
        900: #664400
);
$light: (
        100: #fff,
        300: #f7fbff,
        500: #edf3fa,
        700: #d5dae0,
        900: #8d9094
);


@function color($map, $shade) {
  @return map-get($map, $shade);
}

$header-height: 60px;