@use '../../../app/styles/global/variables.scss' as *;
.options {
  display: flex;
}
.radio {
  display: none;
}
.span {
  display: block;
  width: 20px;
  height: 20px;
  margin: 8px 12px 8px 8px;
  border-radius: 50%;
  border: 2px solid color($light, 100);
  position: relative;
}
.label {
  display: flex;
  margin: 20px 44px 20px 20px;
  line-height: 36px;
}
.checked span::after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-color: color($light, 100);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.label span::before {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.label:hover span::before {
  background-color: color($dark, 300);
}
.label:active span::before {
  background-color: color($dark, 100);
}
.label:focus span::before {
  background-color: color($dark, 500);
}

.disabled {
  color: color($light, 900);
  .span {
    border-color: color($light, 900);
    &::before {
      background-color: transparent !important;
    }
  }
}
