@use "@/shared/styles/global/variables.scss" as *;

.root {
  background: color($dark,700);
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 4px;
}

.bar {
  height: 100%;
  background: color($primary,900);
  position: absolute;
  border-radius: inherit;
}

@keyframes indeterminate1 {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate2 {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

.indeterminate1 {
  animation: indeterminate1 2.1s cubic-bezier(.65,.815,.735,.395) infinite;
}

.indeterminate2 {
  animation: indeterminate2 2.1s cubic-bezier(.165,.84,.44,1) infinite;
}


