@use '@/shared/styles/global/variables' as *;
@use '@/shared/styles/global/typography' as *;

.overlay{
  position: fixed;
  inset: 0;
  background: color($dark, 700);
  z-index: 9999;
}

.wrapper {
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: color($dark, 300);
  margin: 20px auto;
  color: color($light, 100);
  max-width: 378px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid color($dark, 100);
}

.title {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid color($dark, 100);
  width: 100%;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 24px;

  & button {
    align-self: flex-end;
  }
}
