@use '../../styles/global/variables.scss' as *;


.customTriggerSelect {
  min-width: 172px;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: $header-height;
  background-color: color($dark, 700);
  border-bottom: 1px solid color($dark, 300);
}

.headerContainer {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  padding: 0 64px 0 60px;

  h2 {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: color($light, 100);
    cursor: pointer;
  }

  @media (max-width: 640px) {
    padding: 0 15px;
  }
}

.menu {
  display: flex;
  align-items: center;
}

.langButton {
  margin-right: 36px;

  @media (max-width: 640px) {
    margin-right: 16px;
  }
}

.authButtons {
  display: flex;
  gap: 24px;
}

.authMobileButtons {
  display: flex;
  flex-direction: column;
}