@use 'src/app/styles/global/variables' as *;


.default {
  box-shadow: none;
  padding: 6px 0 0 12px;
  width: 284px;
  height: 84px;
  color: color($light, 900);
  background-color: color($dark, 100);
  border: 1px solid color($dark, 100);
  border-radius: 2px;

  &:disabled {
    color: color($dark, 100);
    border: 1px solid color($dark, 100);
  }
  &:focus {
    color: color($light, 100);
    border: 1px solid color($primary, 700);
  }
  &:hover {
    color: color($light, 900);
    border: 1px solid  color($dark, 100);
  }
  &:active {
    color: color($light, 100);
    border: 1px solid  color($light, 100);
  }
  &.error {
    border: 1px solid color($danger, 500);
  }
}

.error {
  color: color($danger, 500);
  font-weight: 400;
  font-size: 14px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}