@use '../../styles/global/variables.scss' as *;

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.disabledBox {
  cursor: not-allowed;

  & label {
    pointer-events: none;
    color: color($light, 900);
  }
}

.checkboxInput {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  -webkit-appearance: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../../assets/icons/checkbox/unselected.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  border: 1px solid transparent;
  border-radius: 50px;

  &[data-state='checked']{
    background-image: none;
  }
  &:hover {
    background-color: color($dark, 300);
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-image: none;
  }

  &:active {
    background-color: color($dark, 100);
  }

  &:focus-visible {
    outline: none;
    background-color: color($dark, 500);
  }
}

.checkboxIndicator {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.label {
  color: color($light, 100);
  cursor: pointer;
}

