@use '../../styles/global/variables.scss' as *;

.wrapper {
  @include fontStyle($size:14px,$line-height:171%,$color: color($light, 100));
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.disabledBox {
  cursor: not-allowed;

  & label {
    pointer-events: none;
    color: color($light, 900);
  }
}

.checkboxInput {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  -webkit-appearance: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../../assets/icons/checkbox/unselected.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  border: none;
  border-radius: 50px;

  &[data-state='checked']{
    background-image: none;
  }
  &:hover {
    background-color: color($dark, 300);
  }

  &[data-disabled] {
    cursor: not-allowed;
    pointer-events: none;
    background-image: url("../../assets/icons/checkbox/unselectedDisable.svg");
  }

  &:active {
    background-color: color($dark, 100);
  }

  &:focus-visible {
    outline: none;
    background-color: color($dark, 500);
  }
}

.checkboxIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.label {
  cursor: pointer;
}

