@use '../../../../shared/styles/global/variables.scss' as *;

.formContainer {
  display: flex;
  justify-content: center;

  .form {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 378px;
    max-height: 480px;
    background: color($dark, 500);
    border: 1px solid color($dark, 300);
    padding: 24px;

    h2 {
      margin-bottom: 37px;
    }

    .emailInput {
      text-align: start;
      color: color($light, 900);
      font-size: 14px;

      .text {
        margin: 7px 0 17px;
        line-height: 24px;
      }

      label {
        padding: 6px 0;
        line-height: 24px;
      }

      .inputError {
        color: color($danger, 500);
        font-size: 14px;
        line-height: 24px;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .recaptcha {
      width: 304px;
      height: 78px;
      margin: 0 auto 24px;
    }
  }

  .modalButton {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 18px;

    button {
      padding: 6px 36px;
    }
  }
}